:root {
  --dark-color: rgba(0, 0, 0, 0.7);
  --border-radius: 10px;
  --main-color: rgb(233, 117, 35);
  --disabled-color: grey;
  --striped-background : linear-gradient(45deg, transparent 49%, black 50%, transparent 51%);
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: var(--striped-background);
  background-color: antiquewhite;
  background-size: 10px 10px;
}

.container {
    margin: 0 35px 0 25px ;
  position: relative;
  width: 400px;
  padding: 0 35px 35px 35px;
  border: 1px solid;
  border-radius: var(--border-radius);
  background-color: white;
  height: fit-content;
  box-shadow: 15px 15px black;
}

.container > * {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  color: antiquewhite;
  font-size: xxx-large;
    margin: 25px   0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1px black;
}

input[type="text"] {
    background-color: antiquewhite;
  height: 45px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0 0 3px 15px;
  font-size: medium;
  font-family: inherit;
}

input[type="text"]:hover,
input[type="text"]:focus-visible {
  outline: none;
  box-shadow: inset 3px 3px black;
  padding: 3px 0 0 15px;
}

input:focus-visible::placeholder {
  opacity: 0;
}

#todoList {
}

.todo:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-width: 1px;
}
.todo:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.todo {
  display: flex;
  font-size: small;
  gap: 10px;
  padding: 15px;
  align-items: center;
  accent-color: black;
  border: 1px solid black;
  border-width: 1px 1px 0 1px;
}
.todo:hover {
  box-shadow: inset 3px 3px black;
  background-color: antiquewhite;
}
.todo:hover > * {
  transform: translate(3px, 3px);
}

.todo:has(input[type="checkbox"]:checked) {
  background: var(--striped-background);
  background-color: antiquewhite  ;
  background-size: 10px 10px;
  background-repeat: repeat;
}

.todo > label {
  word-wrap: break-word;
  flex-grow: 1;
}

.todo > span {
  display: flex;
  height: 1.2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: transparent solid;
  opacity: 0;
}
.todo:hover > span {
  opacity: 1;
}
.todo span:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

#progress {
  position: absolute;
  right: 35px;
  top: 35px;
  margin-left: auto;
  font-weight: bolder;
  font-size: small;
}

#progress:empty + #todoList {
    display: none;
}
