/* Design system */
:root {
  /* color palette */
  /* #DBCDF7 */
  /* #CDF7D4 */
  /* #faebd7 */
  /* #367A47 */
  --color-white: white;
  --color-black: black;
  --color-primary: #faebd7;
  --color-primary-grey: #a2998c;
  --color-primary-dark: #a58964;
  --color-secondary: #dbcdf7;
  --color-secondary-grey: #958ca2;
  --color-secondary-dark: #53367a;
  --color-tertiary: #8fbc8f;
  --color-tertiary-grey: #8ca291;
  --color-tertiary-dark: #1c3f24;

  /* Background */
  --color-bg: var(--color-primary);
  /* borders */
  --border-radius: 0.625rem;
  --border-color: var(--color-secondary);
  --border-width: 0.0625rem;
  /* shadows */
  --shadow-offset-large: 0.9375rem;
  --shadow-offset-small: 0.1875rem;
  --shadow-color: var(--color-secondary-dark);
  --inset-shadow: inset var(--shadow-offset-small) var(--shadow-offset-small)
    var(--shadow-color);
  /* font */
  --title-font-size: 3rem;
  --title-color: var(--color-primary);
  --text-font-size: 1.5rem;
  --text-color: var(--color-secondary-dark);
  /* striped background */
  --stripe-color: var(--color-secondary);
  --striped-background: linear-gradient(
    45deg,
    transparent 48%,
    var(--stripe-color) 50%,
    transparent 52%
  );
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: var(--striped-background);
  background-color: var(--color-bg);
  background-size: 10px 10px;
}

.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 400px;
  height: fit-content;
  height: -moz-fit-content;
  padding: 35px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin-right: var(
    --shadow-offset-large
  ); /* to center the box with its shadow */
  background-color: var(--color-white);
  box-shadow: var(--shadow-offset-large) var(--shadow-offset-large)
    var(--shadow-color);
}

.todo__title {
  margin: 0;
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color-primary);
  -webkit-text-stroke: 1.5px var(--color-secondary-dark);
}

.todo__main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.todo__input {
  height: 45px;
  padding: 0 0 3px 15px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: medium;
  font-family: inherit;
  color: var(--text-color);
  caret-color: var(--color-secondary-dark);
  background-color: var(--color-primary);
}

.todo__input:hover,
.todo__input:focus-visible {
  outline: none;
  box-shadow: var(--inset-shadow);
  padding: 3px 0 0 15px;
}
.todo__input::placeholder {
  color: var(--color-primary-grey);
}

.todo__progress {
  position: absolute;
  right: 40px;
  top: 200px;
  margin-left: auto;
  font-weight: bolder;
  font-size: .75rem;
  color: var(--color-dark);
}
.todo__progress:empty + .todo__list {
  display: none;
}

.todo__list {
  background: var(--striped-background);
  background-color: var(--color-bg);
  background-size: 10px 10px;
  background-repeat: repeat;
  border-radius: var(--border-radius);
}
.task {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0.9375rem;
  border: var(--border-width) solid var(--border-color);
  border-bottom-width: 0;
  font-size: 0.875rem;
  color: var(--text-color);
  background-color: var(--color-white);
  accent-color: var(--color-secondary-dark);
}
.task:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.task:last-child {
  border-bottom-width: var(--border-width);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.task:has(.task__done:checked) {
  mix-blend-mode: darken  ;
}

.task:hover {
  box-shadow: var(--inset-shadow);
  background-color: var(--color-bg);
}
.task:hover > * {
  transform: translate(var(--shadow-offset-small), var(--shadow-offset-small));
}
.task:hover .task__delete {
  opacity: 1;
}
.task__content {
  word-wrap: break-word;
  flex-grow: 1;
}
.task__delete {
  display: flex;
  height: 1.2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: transparent solid;
  opacity: 0;
  cursor: pointer;
}
.task__delete:hover {
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-secondary-dark);
}
