:root {
  --color-white: white;
  --color-bg: antiquewhite;
  --border-radius: 10px;
  --disabled-color: grey;
  --stripe-color: black;
  --striped-background: linear-gradient(
    45deg,
    transparent 49%,
    var(--stripe-color) 50%,
    transparent 51%
  );
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--striped-background);
  background-color: var(--color-bg);
  background-size: 10px 10px;
}

.todo {
  margin: 0 35px 0 25px;
  position: relative;
  width: 400px;
  padding: 0 35px 35px 35px;
  border: 1px solid;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 15px 15px black;
}
.todo > * {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.todo__title {
  color: antiquewhite;
  font-size: xxx-large;
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1px black;
}
.todo__input {
  background-color: antiquewhite;
  height: 45px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0 0 3px 15px;
  font-size: medium;
  font-family: inherit;
}
.todo__input:hover,
.todo__input:focus-visible {
  outline: none;
  box-shadow: inset 3px 3px black;
  padding: 3px 0 0 15px;
}
.todo__input:hover::-moz-placeholder,
.todo__input:focus-visible::-moz-placeholder {
  opacity: 0;
}
.todo__input:hover::placeholder,
.todo__input:focus-visible::placeholder {
  opacity: 0;
}
.todo__list {
  background: var(--striped-background);
  background-color: antiquewhite;
  background-size: 10px 10px;
  background-repeat: repeat;
  border-radius: var(--border-radius);
}
.task {
  display: flex;
  font-size: small;
  gap: 10px;
  padding: 15px;
  align-items: center;
  accent-color: black;
  border: 1px solid black;
  border-width: 1px 1px 0 1px;
  background-color: white;
}
.task:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.task:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-width: 1px;
}
.task:has(.task__done:checked) {
  mix-blend-mode: multiply;
}
.task__content {
  word-wrap: break-word;
  flex-grow: 1;
}
.task__delete {
  display: flex;
  height: 1.2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: transparent solid;
  opacity: 0;
  cursor: pointer;
}
.task:hover {
  box-shadow: inset 3px 3px black;
  background-color: antiquewhite;
}
.task:hover > * {
  transform: translate(3px, 3px);
}
.task:hover .task__delete {
  opacity: 1;
}
.task__delete:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.todo__progress {
  position: absolute;
  right: 35px;
  top: 35px;
  margin-left: auto;
  font-weight: bolder;
  font-size: small;
}
.todo__progress:empty + #todoList {
  display: none;
} /*# sourceMappingURL=style.css.map */
